@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

@layer base {
  body {
    @apply bg-gray-200;
    font-family: 'Open Sans', sans-serif;
  }

  .logo {
    font-family: 'Ubuntu Condensed', sans-serif;
  }

  .dropdown {
    @apply w-full cursor-pointer;
  }

  .dropdown-btn {
    @apply flex h-[64px] items-center px-[10px] bg-gray-200 rounded-lg;
  }

  .dropdown-icon-primary {
    @apply text-2xl mr-[10px] text-emerald-800;
  }

  .dropdown-icon-secondary {
    @apply text-2xl text-emerald-800 ml-auto;
  }
  
  .header-bg {
    background-color: #747474c0;
    z-index: 3;
  }

  .home-bg {
    background-image: url('./assets/img/homepage.jpg');
    background-size: cover;
    background-position: center;
  }

  .home-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}